<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app wiht file</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <form action="/edit" method="POST">
                <h1 class="text-3xl text-bold my-2 p-2">Edit Filename</h1>
                <input class="block w-2/4 rounded-md px-5 mt-2 py-2 outline-none bg-zinc-700" type="text" name="preName"
                    placeholder="Old name" value="<%= filename %>">
                <input class="block w-2/4 rounded-md px-5 mt-2 py-2 outline-none bg-zinc-700" type="text" name="newName"
                    placeholder="New name">
                <input type="submit" class="mt-2 bg-yellow-600 px-5 py-2 rounded-md " value="Update Filename">
            </form>

        </div>

    </div>
</body>

</html>